# Packt claims configuration file

userid={{packtEmail}}                                                            # Packt userid
pwd={{lookup('password', 'credentials/common/' + role_name + '/password')}}                                                                        # Packt password
slp=1                                                                                   # sleep time in seconds between URL requests
tout=5                                                                                  # timeout for curl waiting for response
rtry=5                                                                                  # number of retries
log="{{pactLogFile}}"                                                                         # log file
dldir="{{packtDir}}"                                                            # download directory
cookie="/tmp/pact-cookie.txt"                                                                     # cookie file
agent="{{packtUSerAgent}}"    # browser ID
